# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
coverage/
.nyc_output/

# Other
README.md
.git/
.gitignore
Dockerfile
.dockerignore

