<footer class="footer">
  <a href="#" class="back-to-top" (click)="$event.preventDefault(); scrollToTop()">Back to top</a>
  
  <div class="footer__content">
    <div class="footer__column">
      <h4>Get to Know Us</h4>
      <a routerLink="/">Careers</a>
      <a routerLink="/">Blog</a>
      <a routerLink="/">About ShopiNow</a>
      <a routerLink="/">Investor Relations</a>
      <a routerLink="/">ShopiNow Devices</a>
      <a routerLink="/">ShopiNow Science</a>
    </div>

    <div class="footer__column">
      <h4>Make Money with Us</h4>
      <a routerLink="/">Sell products on ShopiNow</a>
      <a routerLink="/">Sell on ShopiNow Business</a>
      <a routerLink="/">Sell apps on ShopiNow</a>
      <a routerLink="/">Become an Affiliate</a>
      <a routerLink="/">Advertise Your Products</a>
      <a routerLink="/">Self-Publish with Us</a>
      <a routerLink="/">Host an ShopiNow Hub</a>
    </div>

    <div class="footer__column">
      <h4>ShopiNow Payment Products</h4>
      <a routerLink="/">ShopiNow Business Card</a>
      <a routerLink="/">Shop with Points</a>
      <a routerLink="/">Reload Your Balance</a>
      <a routerLink="/">ShopiNow Currency Converter</a>
    </div>

    <div class="footer__column">
      <h4>Need Help?</h4>
      <a routerLink="/">COVID-19 and ShopiNow</a>
      <a routerLink="/account">Your Account</a>
      <a routerLink="/account">Your Orders</a>
      <a routerLink="/">Shipping Rates & Policies</a>
      <a routerLink="/">Returns & Replacements</a>
      <a routerLink="/">Manage Your Content and Devices</a>
      <a routerLink="/">ShopiNow Assistant</a>
      <a routerLink="/">Help</a>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__logo">
      <a routerLink="/" class="logo">ShopiNow</a>
    </div>
    <div class="footer__links-bottom">
      <a routerLink="/">Australia</a>
      <a routerLink="/">Brazil</a>
      <a routerLink="/">Canada</a>
      <a routerLink="/">China</a>
      <a routerLink="/">France</a>
      <a routerLink="/">Germany</a>
      <a routerLink="/">Italy</a>
      <a routerLink="/">Japan</a>
      <a routerLink="/">Mexico</a>
      <a routerLink="/">Netherlands</a>
      <a routerLink="/">Poland</a>
      <a routerLink="/">Singapore</a>
      <a routerLink="/">Spain</a>
      <a routerLink="/">Turkey</a>
      <a routerLink="/">United Arab Emirates</a>
      <a routerLink="/">United Kingdom</a>
      <a routerLink="/">United States</a>
    </div>
  </div>

  <div class="footer__copyright">
    <div class="footer__copyright-links">
      <a routerLink="/">Conditions of Use</a>
      <a routerLink="/">Privacy Notice</a>
      <a routerLink="/">Interest-Based Ads</a>
    </div>
    <p>© 1996-2025, ShopiNow.com, Inc. or its affiliates</p>
  </div>
</footer>

